@(programs: List[Program])

@main("Erlyvideo List") {
    <a href="/downloadProgramFileAction">Обновить файл программы</a><br/><br/>

    <table border="1">
        <tr>
            <th>start</th>
            <th>stop</th>
            <th>channel</th>
            <th>title</th>
            <th>category</th>
        </tr>
        @for(program <- programs) {
        <tr>
            <td>@program.startUnixtime</td>
            <td>@program.stopUnixtime</td>
            <td>@program.channel</td>
            <td>@program.title</td>
            <td>@program.category</td>
        </tr>
        }
    </table>
}
