@(programs: List[Program])

@main("Erlyvideo List") {
    <a href="/downloadProgramFileAction">Обновить файл программы</a><br/><br/>

    <table border="1">
        <tr>
            <th>start</th>
            <th>stop</th>
            <th>start (unixtime)</th>
            <th>stop (unixtime)</th>
            <th>channel</th>
            <th>title</th>
            <th>category</th>
            <th>recorded</th>
            <th>download</th>
        </tr>
        @for(program <- programs) {
        <tr>
            <td>@program.startDateTime</td>
            <td>@program.stopDateTime</td>
            <td>@program.startUnixtime</td>
            <td>@program.stopUnixtime</td>
            <td>@program.channel</td>
            <td>@program.title</td>
            <td>@program.category</td>
            <td
            @if(program.recorded){
                style="background-color:green;"
            }
            >@program.recorded</td>
            <td><a href="@program.archiveInMP4AsURL">MP4</a> <a href="@program.archiveInTSAsURL">TS</a></td>
        </tr>
        }
    </table>
}
